# Laravel
laravel-backend/vendor/
laravel-backend/.env
laravel-backend/storage/*.key
laravel-backend/.phpunit.result.cache

# NodeJS
nodejs-script/node_modules/
nodejs-script/.env

# React
react-frontend/node_modules/
react-frontend/dist/
react-frontend/.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

